<%- include('./partials/header') %>

<h1>Welcome</h1>



<% medico.forEach(function(medico){ %>
	<div class="card mb-3" style="max-width: 540px;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img class='thumbnail' src="<%=medico['image'] %>" class="card-img" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title"><%= medico.name %></h5>
	        <div class="row">
	        	<div class="col"><p class="card-text">Especialidad: </p></div>
	        	<div class="col"><p class="card-text mb-4"><%= medico.field %></p></div>

	        	
	        </div>
	        <div class="row d-flex justify-content-center">
	        	<h5>Horario</h5>
	        </div>
	        <div class="row">
	        	<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Día</th>
				      <th scope="col pr-0">Horario</th>
				    </tr>
				  </thead>
				  <tbody>
				  	
				  	<% for (var i = 0; i < medico.schedule_days.length; i++) { %>
						<tr>
					      <td> <%= medico.schedule_days[i] %> </td>
					      <td class="pr-0"> <%= medico.schedule_time[i] %> </td>
					    </tr>				  		
				  	<% } %>
				  </tbody>
				</table>	        	
	        </div>
	        
	        <p class="card-text"><%= medico.medcenter %></p>
	      </div>
	    </div>
	  </div>
	</div>
<% }); %>


